.habilidades {
    min-height: 100vh;
}

.container-habilidades {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

.container-habilidades .informacoes {
    max-width: 350px;
    padding: 40px 20px;
    cursor: default;
}

.container-habilidades .informacoes p,
.container-habilidades .informacoes h3,
.container-habilidades .informacoes i {
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-primaria);
}

.container-habilidades .informacoes p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
}

.container-habilidades .informacoes i {
    font-size: 8rem;
}

.container-habilidades .informacoes:hover p,
.container-habilidades .informacoes:hover i {
    color: var(--cor-primaria);
}

.container-habilidades .informacoes:hover h3 {
    color: var(--cor-branca);
    transform: scale(1.1);
}