.projetos {
    min-height: 82vh;
}

.projetos .container-projetos {
    display: grid;        
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 10rem auto;
    grid-gap: 20px;
}

.projetos .container-projetos .projeto {
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    position: relative;
    transform: skewY(20deg);
    box-shadow: -10px 10px 20px hsla(156.9,48%,50.2%, .6);
}

.projetos .container-projetos .projeto:hover,
.projetos .container-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.8;
}

.projetos .container-projetos .projeto:hover {
    translate: 0 -50px 0;
    transform: scale(1.0);
    box-shadow: 0px 10px 10px 10px hsla(20.3, 98.2%, 56.3%, .6);
}

.projetos .container-projetos .projeto:hover .informacoes-projeto p {
    animation: projetAnim .3s linear 0s 1 normal forwards;
}

.projetos .container-projetos .projeto img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
}

.projetos .container-projetos .projeto .informacoes-projeto {
    padding: 20px;    
    background-color: var(--cor-fundo-escuro);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;    
    transition: all .3s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projetos .container-projetos .projeto .informacoes-projeto p:nth-child(1) {
    text-align: justify;
}

.projetos .container-projetos .projeto .informacoes-projeto p:nth-child(2) {
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.4rem;
}

.projetos .container-projetos .projeto h3 {
    font-size: 2rem;
    font-weight: 500;    
    position: absolute;      
    opacity: 0.7;
    background-color: var(--cor-fundo-escuro);
    width: 100%;
    padding: 10px;
    bottom: 0;
}

@media(max-width: 1280px) { 
    .projetos .container-projetos {
        padding: 0 var(--mobile-padding);
    }
}

@media(max-width: 1138px) { 
    .projetos .container-projetos {
        row-gap: 12rem;
    }
}

@media(max-width: 869px) {
    .projetos .container-projetos {
        row-gap: 14rem;
    }
}

@media(max-width: 599px) {
    .projetos .container-projetos {
        row-gap: 5rem;
    }

    .projetos .container-projetos .projeto {
        transform: scale(1.0);
    }

    .projetos .container-projetos .projeto:hover {
        translate: 0 0 0;
    }
}