.sobre-mim {
    min-height: 100vh;
}

.sobre-mim .imagem-sobre-mim {
    max-width: 40%;
    padding: 0 15px;
}

.sobre-mim .imagem-sobre-mim .img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-escuro);
    padding: 2px;
    border-radius: 5px;
    overflow: hidden;
}

.sobre-mim .imagem-sobre-mim .img-box::before {
    width: 140%;
    height: 140%;
    position: absolute;
    content: '';
    background: repeating-conic-gradient(#45F3FF 0%, #45F3FF 5%, #45F3FF 10%, transparent 5%, transparent 40%, #45F3FF 50%);
    animation: anime 4s linear infinite;
    animation-delay: 1s;
    border-radius: 5px;
}

.sobre-mim .imagem-sobre-mim .img-box::after {
    width: 140%;
    height: 140%;
    position: absolute;
    content: '';
    background: repeating-conic-gradient(#FF2770 0%, #FF2770 5%, #FF2770 10%, transparent 5%, transparent 40%, #FF2770 50%);
    animation: anime 4s linear infinite;
    border-radius: 5px;
}

.sobre-mim .imagem-sobre-mim img {
    border-radius: 5px;
    background-color: var(--cor-fundo-cinza-escuro);
    z-index: 1;
}

.sobre-mim .informacoes-sobre-mim {
    max-width: 60%;
    padding: 0 25px;
    align-self: center; 
}

.sobre-mim .informacoes-sobre-mim .botoes {
    display: flex;
    margin-top: 50px;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    cursor: default;
}

@media(max-width: 1280px) { 
    .sobre-mim .row{
        justify-content: center;
    }

    .sobre-mim .imagem-sobre-mim {        
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim {  
        padding: 0 var(--mobile-padding);
        text-align: center;
    }

    .sobre-mim .informacoes-sobre-mim .botoes {
        justify-content: center;
    }
}

@media(max-width:768px){
    .sobre-mim .informacoes-sobre-mim {  
        max-width: 100%;                   
    }
}