:root {
    --cor-primaria: #43bd8e;
    --cor-secundaria: #FD6C22;    
    --cor-branca: #FFF;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #353535;    
}
    
:root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-terciaria: monospace, sans serif;
	--fonte-quaternaria: 'Pinyon Script', cursive;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
}
  
:root {
    --mobile-padding: 30px;
}

@property --i {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes headerAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}
	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}
	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}
	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}
	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}
	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

@keyframes anime {
  0% {
      --i: 0deg;
  }
  100% {
      --i: 360deg;
  }
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes hamburgInAnim {
	0% {
		transform: translateX(-250px);
		opacity: 0;
	  }
	  100% {
		transform: translateX(0);
		opacity: 1;
	}
}
	
@keyframes piscar {
  100% {
    border-right-color: transparent;
  }
}

@keyframes escrevendo {
  100% {
    max-width: 100%;
  }
}

@keyframes rightAnime {
  0% {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes leftAnime {
	0% {
	  transform: translate3d(-100%, 0, 0);
	  opacity: 0;
	}
	100% {
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
}